/*******************************************/
/***************** Classes *****************/
/*******************************************/

.about-border {
    border: 1px solid black;
    border-radius: 2px;
    margin: -1px;
}

.section-link {
    color: #747474;
    background-color: transparent;
    padding: 0;
    margin: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.about-line {
    background-color: #879193;
}

/*******************************************/
/******************* IDs *******************/
/*******************************************/

#about {
    position: relative;
    background-color: transparent;
    padding: 0;
    min-height: 640px;
}
#about:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
            rgba(255, 255, 255, 0.75),
            rgba(255, 255, 255, 0.85)
    ),
    url("../resources/images/triangle-pattern.svg");
    background-repeat: repeat;
}
#about-container {
    padding-top: 100px;
}

#about-title {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0);
}

#line-download-resume-up{
    height: 70px;
    width: 3px;
    margin: 0 auto;
}
#button-download-resume {
    background-color: #B4AFAC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#button-download-resume:hover {
    background-color: #969490;
}
#button-download-resume:active {
    background-color: #63625F;
}
#line-download-resume-down{
    height: 100px;
    width: 3px;
    margin: 0 auto;
}
#line-download-resume-down-left {
    visibility: hidden;
}
@media (min-width: 992px) {
    #line-download-resume-down-horizontal {
        height: 3px;
        width: calc(50vw - 168px);
        left: 176px;
        position: relative;
    }
    #line-download-resume-down {
        height: 50px;
    }
    #line-download-resume-down-left {
        visibility: visible;
        height: 100px;
        width: 3px;
        position: relative;
        left: 175px;
    }
}
