/*******************************************/
/***************** Classes *****************/
/*******************************************/

.about-border {
    border: 1px solid black;
    border-radius: 2px;
    margin: -1px;
}

.section-link {
    color: #747474;
    background-color: transparent;
    padding: 0;
    margin: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.about-line {
    background-image: url("../resources/images/rectangle-fill-gray.svg");
}

/*******************************************/
/******************* IDs *******************/
/*******************************************/

#about {
    position: relative;
    background-color: transparent;
    padding: 0;
    min-height: 640px;
    background: linear-gradient(
            rgba(255, 255, 255, 0.75),
            rgba(255, 255, 255, 0.85)
    ),
    url("../resources/images/triangle-pattern.svg");
    background-repeat: repeat;
}
#about-container {
    padding-top: 100px;
}

#about-title {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0);
}

#about-line-download-resume-up{
    height: 70px;
    background-position: center;
    margin: 0 auto;
}
#button-download-resume {
    background-color: #B4AFAC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#button-download-resume:hover {
    background-color: #969490;
}
#button-download-resume:active {
    background-color: #63625F;
}
#about-line-download-resume-down{
    height: 100px;
    margin: 0 auto;
    background-position: center;
}
@media (min-width: 992px) {
    #about-line-download-resume-down {
        height: 50px;
    }
    #about-left-line {
        height: 100px;
    }
    #about-line-horizontal {
        width: 100%;
        height: 3px;
        background-size: calc(50vw - 11.27vw);
    }
}
