/*******************************************/
/***************** Elements ****************/
/*******************************************/

body {
    position: relative;
}

p.paragraph {
    font-size: 15px;
}

/*******************************************/
/***************** Classes *****************/
/*******************************************/

.is-hidden {
    display: none;
    opacity: 0;
}

.raleway {
    font-family: "raleway";
}
.geo-sans-light {
    font-family: "geo-sans-light";
    color: #7C7C7C;
}
.font-weight-bold {
    font-weight: 700;
}
.font-weight-extra-bold {
    font-weight: 800;
}
.font-weight-black {
    font-weight: 900;
}
.list-style-type-none {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 1em;
}

.full-viewport-height {
    min-height: 100vh;
}

.section {
    margin: 0;
    padding-top: 60px;
}

.section-link {
    color: #747474;
    background-color: transparent;
    padding: 0;
    margin: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.section-title-block {
    display: inline-block;
    padding: 0;
    position: absolute;
    top: -24px;
    background-color: white;
    border: 1px solid black;
    left: 50%;
    transform: translate(-50%, 0);
}
.section-title-text {
    display: inline-block;
    color: #DEE4E4;
    font-weight: 700;
    padding: 10px;
    background-color: #032E3E;
    border-width: 2px;
    border-color: black;
    position: relative;
    margin: 0;
    top: -3px;
    left: -4px;
}
.list-typography {
    font-size: 1em;
}

.modal-body {
    margin-top: 0px;
}

/*******************************************/
/******************* IDs *******************/
/*******************************************/

#custom-navbar {
    background-color: transparent;
    border-color: transparent;
}

#home {
    background-image: url("../resources/images/home-photo.jpg");
    background-size: cover;
}

#about {
    position: relative;
    background-color: transparent;
    padding: 0;
}
#about:before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    z-index: -1;
    background: linear-gradient(
            rgba(255, 255, 255, 0.75),
            rgba(255, 255, 255, 0.85)
    ),
    url("../resources/images/triangle-pattern-small.png");
    background-repeat: repeat;
}
#about-container {
    padding-top: 100px;
}

#line-download-resume-up{
    height: 70px;
    width: 3px;
    margin: 0 auto;
    background-color: #879193;
}
#button-download-resume {
    background-color: #B4AFAC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#button-download-resume:hover {
    background-color: #969490;
}
#button-download-resume:active {
    background-color: #63625F;
}

/*******************************************/
/**************** Animations ***************/
/*******************************************/
@keyframes keyframe-fade-in {
    from {
        opacity: 0;
        display: inline;
    }
    to {
        opacity: 1;
        display: inline;
    }
}
@keyframes keyframe-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animation-fade-in {
    animation-name: keyframe-fade-in;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.animation-fade-out {
    animation-name: keyframe-fade-out;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}