/*******************************************/
/***************** Classes *****************/
/*******************************************/


/*******************************************/
/******************* IDs *******************/
/*******************************************/

#custom-navbar .container .navbar-header a, #custom-navbar .container .navbar-collapse ul li a {
    color: #043756;
}

#custom-navbar.alternative-color .container .navbar-header a, #custom-navbar.alternative-color .container .navbar-collapse ul li a {
    color: white;
}

#home-text {
    position: relative;
    top: 50vh;
}
#home-text .home-text {
    color: #043756;
    font-size: 3em;
    font-weight: 500;
    margin: -0.3em 0;
}
#home-text .home-text:first-child {
    font-size: 4em;
    font-weight: 700;
}