/*******************************************/
/**************** Elements *****************/
/*******************************************/

body {
    position: relative;
}

p.paragraph {
    font-size: 15px;
}

/*******************************************/
/***************** Classes *****************/
/*******************************************/

.vertical-align {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.is-hidden {
    display: none;
    opacity: 0;
}
.full-viewport-height {
    min-height: 100vh;
}
.list-style-type-none {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 1em;
}
.section {
    width: 100%;
    margin: 0;
    padding: 0;
}

.section-title-block {
    display: inline-block;
    min-width: 100px;
    min-height: 30px;
    padding: 0;
    background-color: white;
}
.section-title-text {
    display: inline-block;
    min-width: 100px;
    min-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    font-size: 1.1em;
    font-weight: 400;
    color: #DEE4E4;
    background-color: #032E3E;
    position: relative;
    margin: -1px;
    top: -4px;
    left: -6px;
}

.vertical-line {
    background-image: url("../resources/images/rectangle-fill-white.svg");
    background-position: center;
    background-size: 4px 100%;
    background-repeat: no-repeat;
    height: 100%;
}

@media (min-width: 992px)
{
    .vertical-line {
        background-position-x: 10.8vw;
    }
}

/***************** Modal *******************/
.modal-body {
    margin-top: 0;
}
.modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}


/***************** Fonts ******************/
.raleway {
    font-family: "raleway", serif;
}
.geo-sans-light {
    font-family: "geo-sans-light", serif;
    color: #7C7C7C;
}
.font-weight-bold {
    font-weight: 700;
}
.font-weight-extra-bold {
    font-weight: 800;
}
.font-weight-black {
    font-weight: 900;
}

/*******************************************/
/******************* IDs *******************/
/*******************************************/

#custom-navbar {
    background-color: transparent;
    border-color: transparent;
}
