/*******************************************/
/***************** Classes *****************/
/*******************************************/


/*******************************************/
/******************* IDs *******************/
/*******************************************/

#custom-navbar .container .navbar-header a, #custom-navbar .container .navbar-collapse ul li a {
    color: #043756;
}

#custom-navbar.alternative-color .container .navbar-header a, #custom-navbar.alternative-color .container .navbar-collapse ul li a {
    color: white;
}

@media (max-width: 768px)
{
    #custom-navbar .container .navbar-collapse ul li a {
        color: #043756;
        background-color: rgba(255, 255, 255, 0.75);
    }
    #custom-navbar .container .navbar-collapse ul li.active a {
        background-color: rgba(255, 255, 255, 1);
    }

    #custom-navbar.alternative-color .container .navbar-collapse ul li a {

    }
    #custom-navbar.alternative-color .container .navbar-collapse ul li.active a {

    }
}

#home-text {
    position: relative;
    top: 50vh;
}
#home-text .home-text {
    color: #043756;
    font-size: 3em;
    font-weight: 500;
    margin: -0.3em 0;
}
#home-text .home-text:first-child {
    font-size: 4em;
    font-weight: 700;
}