/*******************************************/
/**************** Elements *****************/
/*******************************************/

body {
    position: relative;
}

p.paragraph {
    font-size: 15px;
}

/*******************************************/
/***************** Classes *****************/
/*******************************************/

.is-hidden {
    display: none;
    opacity: 0;
}
.full-viewport-height {
    min-height: 100vh;
}
.list-style-type-none {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 1em;
}
.section {
    margin: 0;
    padding-top: 60px;
}

.section-title-block {
    display: inline-block;
    min-width: 100px;
    min-height: 30px;
    padding: 0;
    background-color: white;
}
.section-title-text {
    display: inline-block;
    min-width: 100px;
    min-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    font-size: 1.1em;
    font-weight: 400;
    color: #DEE4E4;
    background-color: #032E3E;
    position: relative;
    margin: -1px;
    top: -4px;
    left: -6px;
}

/***************** Modal *******************/
.modal-body {
    margin-top: 0;
}
.modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}


/***************** Fonts ******************/
.raleway {
    font-family: "raleway", serif;
}
.geo-sans-light {
    font-family: "geo-sans-light", serif;
    color: #7C7C7C;
}
.font-weight-bold {
    font-weight: 700;
}
.font-weight-extra-bold {
    font-weight: 800;
}
.font-weight-black {
    font-weight: 900;
}

/*******************************************/
/******************* IDs *******************/
/*******************************************/

#custom-navbar {
    background-color: transparent;
    border-color: transparent;
}
