/*******************************************/
/***************** Classes *****************/
/*******************************************/

/*******************************************/
/******************* IDs *******************/
/*******************************************/

#home {
    background-image: url("../resources/images/home-photo-joao.jpg");
    background-size: cover;
    background-position: center;
}
