/*******************************************/
/***************** Classes *****************/
/*******************************************/

.portfolio-row {
    margin: 0;
}
.portfolio-row div {

}

/*******************************************/
/******************* IDs *******************/
/*******************************************/

#portfolio-carousel div.carousel-inner {
    width: 90%;
    margin: auto;
}
#portfolio-carousel a.carousel-control {
    width: 5%;
}