/*******************************************/
/***************** Classes *****************/
/*******************************************/

.portfolio-row {
    margin: 0;
}
.portfolio-row div {
    padding: 5px;
}

/*******************************************/
/******************* IDs *******************/
/*******************************************/

#portfolio-carousel div.carousel-inner {
    width: 90%;
    margin: auto;
}
#portfolio-carousel a.carousel-control {
    width: 5%;
    background: transparent;
}

#portfolio-title {
    border-color: black;
    border-radius: 2px;
    background-color: white;
}
#portfolio-title div.section-title-text {
    background-color: #072D36;
}