/*******************************************/
/***************** Classes *****************/
/*******************************************/

/***************** General *****************/

.skills-background-color {
    background-color: #083755;
}

.skills-border {
    border: 1px solid white;
    border-radius: 2px;
    margin: -1px;
}

.skills-modal-content {
    position: relative;
    top: -10px;
    left: -10px;
}

.skills-modal-content-wrapper {
    margin-left: auto;
    margin-right: auto;

    position: relative;
    z-index: 1;
}

.skills-text {
    color: white;
    font-size: 1.6em;
}

@media (min-width: 768px) {

    .skills-skill-text {
        text-align: right;
    }

    .skills-skill-stars {
        text-align: left;
    }

}

.skills-stars {
    width: 20px;
    height: 20px;
}

/******************* Nav *******************/

.skills-nav {
    margin-left: 120px;
}

.skills-nav ul {
    position: relative;
    transform: translate(-50px, -15px);
    padding-bottom: 0;
}

.skills-nav ul > li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.skills-nav ul li p a {
    background-color: #083755;
    color: white;
    display: block;
    font-weight: 400;
    text-align: center;
    position: relative;
    text-decoration: none;
    min-width: 100px;
    min-height: 30px;
}


/*******************************************/
/******************* IDs *******************/
/*******************************************/

#skills {
    padding-top: 0;
    padding-bottom: 0;
    display: table;
}
#skills div.vertical-line {
    padding-top: 60px;
    display: table-cell;
    width: 50%;
}

#skills-container {
    padding-top: 160px;
    padding-bottom: 220px;
}

#skills-title {
    position: absolute;
    width: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translate(10px, -60px);
    z-index: 2;

    border-color: white;
    border-radius: 2px;
    background-color: #083755;
}

#skills-title div {
    color: #083755;
    background: white;
}

#skills-upper-background {
    position: absolute;
    float: right;
    margin-bottom: -200px;
}
#skills-lower-background {
    position: relative;
}

@media (min-width: 992px) {
    #skills-container {
        max-width: 75vw;
    }
    #skills-title {
        position: absolute;
        left: 9.8vw;
        right: inherit;
        margin-left: inherit;
        margin-right: inherit;
        transform: translate(0px, -25px);
    }
}

#skills-top-background {
    position: absolute;
    transform: translate(-300px, -194px);
}
#skills-bottom-background {
    position: absolute;
    transform: translate(-820px,155px);
}